@font-face {
    font-family: PokemonGB;
    src: url(./PokemonGB.ttf);
}

body {
    font-family: PokemonGB;
    box-sizing: border-box;
    color: 	#303030;
}

div {
    /* color: red;
    background-color: rgba(128, 128, 128, 0.37);
    border: solid 1px rgba(0, 0, 0, 0.534); */
    box-sizing: border-box;
}

h2 {
    font-size: 1em;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 30px;
    cursor: pointer;
}

div#game-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    margin: auto;
}

div#battle-container {
    height: 300px;
}

div#enemy-container {
    height: 50%;
    display: flex;
}

div#player-container {
    height: 50%;
    display: flex;
}

div.character-stats {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: solid rgb(18, 75, 35) 3px;
    border-radius: 10px;
    padding: 5px;
    height: 80%;
}

.name-level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.character-stats>h2 {}

div#enemy-container {
    height: 50%;
}

.bar {
    display: flex;
    /* height: 50%; */
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 1.5%;
}

progress {
    width: 80%;
    height: 30px;
    color: blue;
    background-color: orange;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 5%;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; */
}

progress[value]::-webkit-progress-value {
    background-color: grey;
}

div.pokemon-display {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
}

.pokemon-display>img {
    height: 90px;
    width: 90px;
    align-self: center;
}

div.grey-oval {
    background-color: #c5c5c5;
    width: 90px;
    align-self: flex-end;
    height: 15px;
    margin: 0 auto;
    border-radius: 50%;
}

#menu {
    /* width: 90%; */
    display: flex;
    height: 200px;
    box-sizing: border-box;
    background-color: black;
    border-radius: 5px;
}

.left-menu {
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
    /* background-color: black; */
}

.yellow-menu {
    border: 10px solid #c8a848;
    box-sizing: border-box;
    border-radius: 20px;
    background: #c8a848;
    width: 100%;
}

.inner-menu {
    border: 10px solid #e1d8e0;
    box-sizing: border-box;
    border-radius: 10px;
    height: 100%;
    background: #295068;
    display: flex;
    align-items: center;
    color: #e1d8e0;
}

#menu-prompt {
    width: 90%;
    font-size: 1.5rem;
    margin: 0 auto;
    color: #e1d8e0;
    text-shadow: 5px 5px 5px #5f566d;
    text-align: center;
}

.fight-menu {
    width: 50%;
}

.right-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2.5%;
    border: 15px solid #70687f;
    border-radius: 20px;
    height: 100%;
    background: #f8f8f8;
}



/* 
      <div id="menu">
        <div class="left-menu">
          <div class="yellow-menu">
            <div class="inner-menu">
              <p id="menu-prompt">What will PLAYERNAME do?</p>
            </div>
          </div>
        </div> <!-- left-menu container -->
        <div class="fight-menu">
          <div class="right-menu">
            <h3 >FIGHT</h3>
            <h3 >RUN</h3>
            <h3 >UNUSED</h3>
            <h3 >UNUSED</h3>
          </div>
        </div> <!-- fight container -->
      </div> <!-- menu container -->
 */